name: CD
on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Release
      uses: nu12/templates/actions/github/release@main
      with:
        version: '${{ github.ref_name }}'
    - name: Build
      uses: nu12/templates/actions/build/docker@main
      with:
        tag: '${{ github.ref_name }}'
        registry-password: '${{ secrets.TOKEN }}'